@charset "UTF-8";
/* Polices utilisés */
/* Couleurs principales */
/* Paramètres de la police */
body {
  font-family: "Roboto", sans-serif;
  /* Les variables de polices utilisés */
  color: #000000;
  /* Les variables de couleurs principales utilisés */
}
body a {
  text-decoration: none;
  /* Nesting utilisé */
}
body ul {
  list-style-type: none;
}

h1 {
  /* Maps utilisés pour les polices de headings */
  font-family: "Shrikhand", sans-serif;
  font-size: 1.9rem;
  font-weight: normal;
}

.fa-heart {
  font-size: 1.4rem;
}

header .ligne-header i {
  padding-left: 4%;
  /* Espace définie en % pour meilleur raport agrandissant écran */
  font-size: 1.2rem;
}
header h1,
header h2 {
  /* Maps utilisés pour les polices de headings */
  font-family: "Shrikhand", sans-serif;
  font-size: 1.9rem;
  font-weight: normal;
  margin: 7px 0px 5px 0px;
  /* Style de logo définie par mixins */
}
header .ligne-header {
  display: flex;
  align-items: center;
}
header .ligne-header h1 {
  padding-left: 73px;
}
header a:active {
  color: #ff79da;
}

footer {
  background-color: #353535;
}
footer #footer-content {
  padding: 1px 0px 20px 6%;
}
footer h4 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.12rem;
  letter-spacing: 0.02rem;
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 19px;
}
footer .fa-utensils {
  font-size: 0.9rem;
  margin-right: 9px;
}
footer .fa-hands-helping {
  font-size: 0.7rem;
  margin-right: 7px;
}
footer span {
  font-size: 1rem;
}
footer .lien-footer a {
  color: #ffffff;
  /* Les propiétés d'apparence des liens de footer */
}
footer .lien-footer a:active {
  color: #ff79da;
  /* Utilisation d'esperluette Sass*/
}
footer ul {
  padding: 0px;
}
footer ul li {
  margin-bottom: 7px;
  /* Nesting utilisé */
}

.bouton {
  color: #ffffff;
  /* Les propiétés d'apparence de boutons */
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: #9356dc;
  border-radius: 25px 25px 25px 25px;
  height: 50px;
  width: 218px;
  border: none;
  /* Enlève la bordure de boutton qui est définie par défaut */
  box-shadow: 4px 4px 10px #c5c5c5, 29px 57px 61px -37px #ff79da inset;
  /* Appliquation des ombres */
  display: flex;
  margin: auto;
}
.bouton:hover {
  background-color: #0000ff;
  /* L'apparence de bouton au survol */
  box-shadow: 13px 10px 28px #000000;
  /* Appliquation des ombres au survol */
}

.accueil {
  /* Maps utilisés pour les polices de headings */
  font-family: "Shrikhand", sans-serif;
  font-size: 1.9rem;
  font-weight: normal;
  margin: 7px 0px 5px 0px;
  /* Style de logo définie par mixins */
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 0.02rem;
}

.sous-image__texte h3 {
  font-size: 1.15rem;
  font-weight: 900;
}
.sous-image__texte p,
.sous-image__texte .fa-map-marker-alt {
  font-size: 1.1rem;
}

.champ_recherche {
  font-family: "Roboto", sans-serif;
  font-size: 1.03rem;
  font-weight: 500;
}

.fonctionnement__texte,
.nouveau {
  font-size: 1.02rem;
  font-weight: 600;
}

.fonctionnement__etapes i {
  height: 1rem;
  width: 2rem;
  font-size: 1.2rem;
  color: #7e7e7e;
}

#bouton_rose a {
  color: #ffffff;
  display: flex;
  margin: auto;
}

#restaurants a {
  color: #000000;
}

.nouveau {
  color: #008766;
}

.ensamble-articles a {
  color: #000000;
}

.ensamble-menu__titre h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.75rem;
  font-weight: normal;
}

.ensamble-menu__article > h3 {
  /* Combinateur parent > enfant utilisé */
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
  /* Pour placer la ligne en bas */
  padding-bottom: 8px;
}

.ensamble-menu__article > h3::after {
  /* La ligne sous le <h3> */
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  bottom: 0;
  left: 0;
  right: 0;
}

.carte-choix__texte p {
  font-size: 0.97rem;
}

.prix {
  font-size: 0.97rem;
  font-weight: 900;
}

.fa-check-circle {
  font-size: 1.3rem;
  color: #ffffff;
  background-color: #99e2d0;
}

#btn-commander {
  width: 52%;
  /* Définition de la taille de bouton mixin */
}
#btn-commander span {
  display: flex;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
