@charset "UTF-8";
/* Polices utilisés */
/* Couleurs principales */
/* Paramètres de la police */
/* Utilisés souvent pour media queries */
@keyframes menu-block {
  0% {
    opacity: 0;
    /* N'est pas visible au début et visible au 100% */
    transform: translateY(10px);
    /* Déplacé de 10px de sa position normale sur axe Y */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    /* Position sur axe Y à la fin de l'animation */
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
    box-shadow: none;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes heart-fill {
  0% {
    fill: transparent;
    /* Couleur intérieur de coeur */
    stroke: #000000;
    /* La bordure de coeur */
  }
  12% {
    fill: #eec5ff;
  }
  25% {
    fill: #ff79da;
  }
  37% {
    fill: #e86edb;
  }
  50% {
    fill: #cf64dc;
  }
  63% {
    fill: #c160dc;
  }
  75% {
    fill: #b35cdc;
  }
  87% {
    fill: #dc68db;
  }
  100% {
    fill: url(#rose-violet);
    /* linearGradient */
    stroke: transparent;
  }
}
@keyframes txt-wrap {
  from {
    justify-content: space-between;
    width: 91%;
  }
  to {
    justify-content: flex-start;
    width: 74%;
  }
}
@keyframes play-loader {
  90% {
    /* À 90% le loader commence a disparaître */
    opacity: 1;
    /* Visibilité de loader */
    z-index: 4;
    /* Sa position par dessus des autres éléments */
    width: 100%;
    height: auto;
    max-width: 1440px;
    max-height: 2600px;
    min-height: 1400px;
  }
  100% {
    /* À la fin de l'animation le loader devient invisible et prend la place derrière des autres éléments */
    opacity: 0;
    height: 0;
    z-index: 0;
  }
}
@keyframes circle-turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fork-shake {
  25% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(-10%);
  }
}
@keyframes spinner-shine-before {
  0% {
    top: 109%;
    /* Le déplacement de l'élément pendant l'animation */
    right: 20%;
  }
  50% {
    top: -33%;
    right: -140%;
  }
  100% {
    top: 109%;
    right: 20%;
  }
}
@keyframes spinner-shine-after {
  0% {
    top: 121%;
    right: 38%;
  }
  50% {
    top: -22%;
    right: -120%;
  }
  100% {
    top: 121%;
    right: 38%;
  }
}
body {
  margin: auto;
  max-width: 1440px;
  width: auto;
  position: relative;
  /* Pour positionner le loader spinner */
}

@media all and (min-width: 992px) {
  .fonctionnement-ensamble h2,
.restaurants h2 {
    font-size: 1.3rem;
  }
}

body {
  font-family: "Roboto", sans-serif;
  /* Les variables de police utilisés */
  color: #000000;
  /* Les variables de couleurs principales utilisés */
}
body a {
  text-decoration: none;
  /* Nesting utilisé */
}
body ul {
  list-style-type: none;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  /* Maps utilisés pour les polices de headings */
  font-size: 1.9rem;
  font-weight: normal;
  margin: 7px 0px 5px 0px;
  color: #000000;
}

.bouton-rose .bouton {
  background-color: #9356dc;
  border-radius: 25px 25px 25px 25px;
  height: 50px;
  width: 218px;
  border: none;
  /* Enlève la bordure de bouton qui est définie par défaut */
  box-shadow: 2px 4px 10px #b6b6b6, 29px 57px 61px -37px #ff79da inset;
  /* Appliquation des ombres - externe et interne */
  /*Utilisé souvent dans le code */
  display: flex;
  margin: auto;
  position: relative;
  z-index: 1;
}
.bouton-rose .bouton:hover .bouton__survole {
  opacity: 1;
  /* Opaque au survol */
}
.bouton-rose .bouton__survole {
  position: absolute;
  /* Position des ombres qui changent au survol */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 4px 4px 10px #aaaaaa, 29px 57px 61px -37px #ff93e1 inset;
  /* Ombres au survol */
  border-radius: 25px 25px 25px 25px;
  opacity: 0;
  /* Transparence quand pas de survol */
  z-index: 2;
  /* Par dessus d'élément parent */
  transition: opacity 350ms;
  /* L'effet plus doux au survol */
}
.bouton-rose .bouton__texte {
  color: #ffffff;
  font-size: 1rem;
  margin: auto;
  z-index: 3;
  /* Le texte de bouton reste par dessus de tous les autres effets de bouton */
}

/* Réalisation de coeur qui change l'apparence au survol */
.heart {
  margin-left: 36px;
  display: flex;
  width: 26px;
}
@media all and (min-width: 681px) {
  .heart {
    margin: 0;
  }
}
.heart .fa-heart path {
  /* Définition des paramètres de la bordure de coeur */
  fill: transparent;
  stroke-width: 30px;
  stroke: #000000;
}
.heart .fa-heart path:hover {
  animation: heart-fill 500ms ease-out forwards;
  /* L'Animation se lance au survol ou clique */
}
.heart .fa-heart linearGradient .main-stop {
  stop-color: #9356dc;
  /* Définition des couleurs de gradient */
}
.heart .fa-heart linearGradient .alt-stop {
  stop-color: #ff79da;
}

/* Réalisation de loader spinner */
#spinner-overlay {
  position: absolute;
  /* Positionné par rapport de body */
  width: 100%;
  /* Couvre toute la page */
  height: auto;
  margin: 0;
  max-width: 1440px;
  max-height: 2600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(246, 246, 246, 0.9);
  /* Couleur rgba utilisé pour définir opacité, pour ne pas définir opacité apart qui affecte l'opacité des éléments de loader */
  z-index: 4;
  /* Place le loader par dessus de l'autre contenu */
  animation: play-loader 2500ms forwards;
  /* L'apparition et disparition de loader entier avec 'animation-duration' de 2.5 secondes */
}
#spinner-overlay .spinner-block {
  display: flex;
  /* La position des images de loader sur la page */
  justify-content: center;
  padding-top: 20%;
}
#spinner-overlay .spinner-block .anim-container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 265px;
  height: 265px;
  border-radius: 100%;
  overflow: hidden;
  /* Les éléments de l'animation qui dépassent les bordures de ce block pendant l'animation ne sont pas visibles */
}
#spinner-overlay .spinner-block .anim-container .cercle--contour {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 265px;
  height: 265px;
  border-radius: 100%;
  animation: circle-turn 1500ms linear 2;
  /* Les animations de chaque élément se passent que pendant le temps de l'animation de loader entier */
  /* Utilisé pour loader */
  background-image: linear-gradient(to right top, #f6f6f6, #dbdbdb, #c1c1c1, #a8a8a8, #8f8f8f);
}
#spinner-overlay .spinner-block .anim-container .cercle--grand {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  /* Utilisé pour loader */
  background-image: linear-gradient(to right top, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
}
#spinner-overlay .spinner-block .anim-container .cercle--fin {
  position: absolute;
  top: 48px;
  left: 48px;
  width: 165px;
  height: 165px;
  border-radius: 100%;
  animation: circle-turn 1500ms linear 2;
  /* 'animation-iteration-count' - le nombre de répétitions est 2 */
  /* Utilisé pour loader */
  background-image: linear-gradient(to right top, #f6f6f6, #dbdbdb, #c1c1c1, #a8a8a8, #8f8f8f);
}
#spinner-overlay .spinner-block .anim-container .cercle--petit {
  position: relative;
  top: 53px;
  left: 53px;
  width: 155px;
  height: 155px;
  border-radius: 100%;
  /* Utilisé pour loader */
  background-image: linear-gradient(to left bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
}
#spinner-overlay .spinner-block .anim-container .cercle--petit::before {
  content: "";
  position: absolute;
  top: 109%;
  right: 20%;
  width: 300px;
  height: 15px;
  background-color: #ffffff;
  opacity: 0.2;
  transform: rotate(45deg);
  animation: spinner-shine-before 1500ms ease-in-out 500ms 1;
  z-index: 1;
  /* Les éléments sont placés par dessus de l'icone des ustensiles */
}
#spinner-overlay .spinner-block .anim-container .cercle--petit::after {
  content: "";
  position: absolute;
  top: 121%;
  right: 38%;
  width: 300px;
  height: 30px;
  background-color: #ffffff;
  opacity: 0.2;
  transform: rotate(45deg);
  animation: spinner-shine-after 1500ms ease-in-out 500ms 1;
  z-index: 1;
}
#spinner-overlay .spinner-block .anim-container .fa-utensils {
  font-size: 4rem;
  position: absolute;
  top: 98px;
  left: 104px;
  color: #5d5d5d;
  animation: fork-shake 200ms ease-in-out 1150ms 3;
  /* Les durées de toutes les animations n'excède pas la durée totale de loader spinner */
}

.menus {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 681px) {
  .menus__image {
    display: flex;
    /* Pour positionner l'image au milieu et mettre la couleur de fond aux espaces vides */
    justify-content: center;
    background-color: #e9e9e9;
    padding: 6px 0 6px 0;
    position: relative;
  }
  .menus__image::before {
    /* La ligne au dessus de la section */
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 1440px;
    width: 100%;
    height: 5px;
    box-shadow: 0px 10px 5px -10px #9d9d9d inset;
  }
}
.menus__image .menus_img {
  max-width: 680px;
  /* L'image ne doit pas grandir à partir de taille indiqué */
  width: 100%;
}
@media all and (min-width: 681px) {
  .menus__image .menus_img {
    border-radius: 35px;
    /* Mixin customisable puor appliquer differentes fonctions de couleur selon besoin */
    box-shadow: 2px 4px 10px #b6b6b6;
  }
}
.menus .ensamble-menu {
  position: relative;
  width: 100%;
  height: auto;
}
.menus .ensamble-menu__titre {
  display: flex;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  padding: 30px 0 0 0;
  width: 100%;
  position: absolute;
  top: -34px;
}
@media all and (min-width: 681px) {
  .menus .ensamble-menu__titre {
    border-radius: unset;
    position: unset;
    flex-direction: column;
    align-items: center;
  }
}
.menus .ensamble-menu__titre h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.75rem;
  font-weight: normal;
  margin: 0;
  padding-left: 19px;
}
@media all and (min-width: 681px) {
  .menus .ensamble-menu__titre h2 {
    margin: 0;
    padding-left: 0;
  }
}
@media all and (min-width: 681px) {
  .menus .ensamble-menu__titre i {
    margin: 0;
    padding-left: 0;
  }
}
.menus .ensamble-menu__articles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f6f6f6;
  padding-top: 39px;
}
@media all and (min-width: 681px) {
  .menus .ensamble-menu__articles {
    padding-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 680px) {
  .menus .ensamble-menu__articles {
    align-items: center;
  }
}
.menus .ensamble-menu__articles .article-menu {
  width: 93%;
  max-width: 345px;
}
@media all and (min-width: 681px) {
  .menus .ensamble-menu__articles .article-menu {
    min-width: 345px;
    width: auto;
  }
}
.menus .ensamble-menu__articles .article-menu > h3 {
  /* Combinateur parent > enfant utilisé */
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
  /* Pour placer la ligne en bas */
  padding: 0 0 8px 19px;
  margin: 26px 0 6px 0;
}
@media all and (min-width: 681px) {
  .menus .ensamble-menu__articles .article-menu > h3 {
    text-align: center;
    padding-left: 0;
  }
}
.menus .ensamble-menu__articles .article-menu > h3::after {
  /* La ligne sous le <h3> */
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 19px;
}
@media all and (min-width: 681px) {
  .menus .ensamble-menu__articles .article-menu > h3::after {
    left: unset;
    right: 44%;
  }
}
.menus .ensamble-menu__articles .article-menu__cartes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix {
  /* Les propriétés de l'apparence des cartes cliquables dans toutes les pages */
  display: flex;
  max-width: 434px;
  width: 47%;
  background-color: #ffffff;
  /* Mixin customisable puor appliquer differentes fonctions de couleur selon besoin */
  box-shadow: 2px 4px 10px #e4e4e4;
  justify-content: space-between;
  position: relative;
  /* Pour positionner l'effet de coche au survol */
  overflow: hidden;
  /* Cache l'icone de coche pendant son effet de transition au survol, pendant qu'elle n'est pas entrée dans son bloc */
  border-radius: 18px;
  color: #000000;
  width: 101%;
  margin: 7px;
}
@media all and (max-width: 680px) {
  .menus .ensamble-menu__articles .article-menu__cartes .carte-choix {
    height: 90%;
  }
}
@media all and (min-width: 992px) {
  .menus .ensamble-menu__articles .article-menu__cartes .carte-choix {
    margin: 15px;
  }
}
@media all and (min-width: 681px) {
  .menus .ensamble-menu__articles .article-menu__cartes .carte-choix {
    width: 97%;
  }
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix .menu-texte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 91%;
  max-width: 405px;
  padding-left: 11px;
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix .menu-texte .ligne-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 405px;
  overflow: hidden;
}
@media all and (max-width: 345px) {
  .menus .ensamble-menu__articles .article-menu__cartes .carte-choix .menu-texte .ligne-txt {
    max-width: 225px;
    /* Permet au Sass de remplacer mot 'content' par les propriétés qui vont être définies dans le code */
  }
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix .menu-texte .ligne-txt h3 {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  margin: 14px 0 0 0;
  /* Si le texte est trop long, il soit coupé et remplacé par les points de suspension */
  white-space: nowrap;
  /* Le texte reste dans la même ligne */
  overflow: hidden;
  /* N'a pas de débordement */
  text-overflow: ellipsis;
  /* Les points de suspension */
  /* Si le texte est trop long, il soit coupé et remplacé par les points de suspension */
}
@media all and (max-width: 345px) {
  .menus .ensamble-menu__articles .article-menu__cartes .carte-choix .menu-texte .ligne-txt h3 {
    max-width: 225px;
    /* Permet au Sass de remplacer mot 'content' par les propriétés qui vont être définies dans le code */
  }
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix .menu-texte .ligne-txt span {
  font-size: 0.93rem;
  margin: 5px 0 12px 0;
  /* Si le texte est trop long, il soit coupé et remplacé par les points de suspension */
  white-space: nowrap;
  /* Le texte reste dans la même ligne */
  overflow: hidden;
  /* N'a pas de débordement */
  text-overflow: ellipsis;
  /* Les points de suspension */
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix .menu-texte .prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 46px;
  height: 100%;
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix .menu-texte .prix p {
  font-weight: 900;
  margin: 0;
  padding: 0 0 13px 0;
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix .coche {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 58px;
  height: 70px;
  background-color: #99e2d0;
  transform: scaleX(0);
  /* La taille de cet élément est zero sans effet de survol */
  transform-origin: right;
  /* la direction de transition au sorvol est de côté droite vers la côté gauche */
  transition: transform 400ms ease-out;
  /* 'transition-property' appliqué est 'transform'; 'transition-duration' est de 400ms; 'transition-timing-function' relantit à la fin */
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix .fa-check-circle {
  display: block;
  position: absolute;
  top: 27px;
  right: 21px;
  bottom: 0;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: #99e2d0;
  opacity: 0;
  /* N'est pas visible sans survol */
  transition: transform 300ms linear 70ms;
  /* 'transition delay' - retard de début - de 70ms */
  transform: translateX(35px) rotate(0turn);
  /* L'élément est déplacé hors de son block et ne tourne pas sans survol */
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix:hover {
  /* Mixin customisable puor appliquer differentes fonctions de couleur selon besoin */
  box-shadow: 2px 4px 10px #b6b6b6;
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix:hover .menu-texte {
  animation: txt-wrap 300ms ease-out forwards;
  /* 'animation-name' suivi par 'animation-duration' de 300ms, 'animation-timing-function' et 'animation-fill-mode' en avant */
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix:hover .menu-texte .ligne-txt:nth-child(1) {
  flex: 2.1;
  /* Utilisé pour définir le rapport de deux blocks au survol */
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix:hover .menu-texte .prix:nth-child(2) {
  flex: 0.4;
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix:hover .coche {
  transform: scaleX(1);
  /* L'élément regagne sa taille prédéfinie au survol */
}
.menus .ensamble-menu__articles .article-menu__cartes .carte-choix:hover .fa-check-circle {
  transform: translateX(0) rotate(2turn);
  /* Deux transitions au survol - regagne sa place sur axe X et rotation deux fois */
  opacity: 1;
  /* Est visible au survol */
}
.menus .ensamble-menu__articles #entrees {
  animation: menu-block 700ms ease-out 200ms backwards;
  /* Les animations de reduction de texte menus au survol */
  /* Les mixins customisables */
}
.menus .ensamble-menu__articles #entrees .carte-choix--1 {
  animation: fade-in 200ms ease-out 450ms backwards;
}
.menus .ensamble-menu__articles #entrees .carte-choix--2 {
  animation: fade-in 200ms ease-out 650ms backwards;
}
.menus .ensamble-menu__articles #entrees .carte-choix--3 {
  animation: fade-in 200ms ease-out 850ms backwards;
}
.menus .ensamble-menu__articles #entrees .carte-choix--4 {
  animation: fade-in 200ms ease-out 1000ms backwards;
}
.menus .ensamble-menu__articles #plats {
  animation: menu-block 700ms ease-out 1250ms backwards;
  /* Les animations de reduction de texte menus au survol */
}
.menus .ensamble-menu__articles #plats .carte-choix--1 {
  animation: fade-in 200ms ease-out 1500ms backwards;
}
.menus .ensamble-menu__articles #plats .carte-choix--2 {
  animation: fade-in 200ms ease-out 1700ms backwards;
}
.menus .ensamble-menu__articles #plats .carte-choix--3 {
  animation: fade-in 200ms ease-out 1900ms backwards;
}
.menus .ensamble-menu__articles #desserts {
  animation: menu-block 700ms ease-out 2300ms backwards;
  /* Les animations de reduction de texte menus au survol */
}
.menus .ensamble-menu__articles #desserts .carte-choix--1 {
  animation: fade-in 200ms ease-out 2550ms backwards;
}
.menus .ensamble-menu__articles #desserts .carte-choix--2 {
  animation: fade-in 200ms ease-out 2750ms backwards;
}
.menus .ensamble-menu__articles #desserts .carte-choix--3 {
  animation: fade-in 200ms ease-out 2950ms backwards;
}
.menus .ensamble-menu .bouton-rose {
  /* Définition des propriétés de bouton que dans les pages menus */
  width: 100%;
  background-color: #f6f6f6;
  padding: 40px 0 56px 0;
}
.menus .ensamble-menu .bouton-rose .bouton {
  width: 185px;
}

header .ligne-header {
  display: flex;
  align-items: center;
  height: 63px;
}
header .ligne-header i {
  padding-left: 4%;
  /* Espace définie en % pour meilleur raport agrandissant l'écran */
  font-size: 1.2rem;
  color: #000000;
}
header .ligne-header h2 {
  font-family: "Shrikhand", sans-serif;
  /* Maps utilisés pour les polices de headings */
  font-size: 1.9rem;
  font-weight: normal;
  margin: 7px 0px 5px 0px;
  color: #000000;
}
header .ligne-header h1 {
  margin: auto;
}
header .ligne-header:hover {
  text-shadow: 2px 4px 10px #777777;
}

#footer-content {
  padding: 1px 0px 20px 6%;
  background-color: #353535;
}
#footer-content h4 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.12rem;
  letter-spacing: 0.02rem;
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 19px;
}
#footer-content .fa-utensils {
  font-size: 0.9rem;
  margin-right: 9px;
}
#footer-content .fa-hands-helping {
  font-size: 0.7rem;
  margin-right: 7px;
}
#footer-content span {
  font-size: 1rem;
}
#footer-content .lien-footer a {
  color: #ffffff;
}
#footer-content .lien-footer a:hover {
  color: #ff79da;
}
#footer-content ul {
  padding: 0px;
}
#footer-content ul li {
  margin-bottom: 7px;
  /* Nesting utilisé */
  width: auto;
}

.accueil {
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f6f6;
  /* Utilisation de variable */
}
@media all and (min-width: 681px) {
  .description {
    /* Media queries sont placés directement dans les sélécteurs */
    position: relative;
    height: 225px;
  }
  .description::before {
    /* La ligne au dessus de la section */
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 1440px;
    width: 100%;
    height: 5px;
    box-shadow: 0px 10px 5px -10px #9d9d9d inset;
  }
}
@media all and (min-width: 992px) {
  .description {
    padding-left: 19px;
    height: 200px;
  }
}
.description .recherche-form {
  display: flex;
  /* Pour ranger les éléments dans une ligne */
  justify-content: center;
  max-width: 680px;
  /* Définition de taille maximale */
  max-height: 50px;
  height: 100%;
  background-color: #eaeaea;
  position: relative;
  /* Mixin customisable puor appliquer differentes fonctions de couleur selon besoin */
  box-shadow: 2px 4px 10px #b6b6b6;
  /* Utilisation de fonctions de couleurs */
}
.description .recherche-form i {
  padding: 17px 15px 0px 59px;
  /* Le positionnement de l'icone dans sa <div> */
}
.description .recherche-form__champ {
  font-family: "Roboto", sans-serif;
  font-size: 1.03rem;
  font-weight: 500;
  border: none;
  height: 46px;
  margin-top: 1px;
  background-color: #eaeaea;
}
.description .recherche-form:hover {
  /* Mixin customisable puor appliquer differentes fonctions de couleur selon besoin */
  box-shadow: 2px 4px 10px #777777;
}
@media all and (max-width: 680px) {
  .description .recherche-form {
    width: 100%;
    box-shadow: none;
  }
  .description .recherche-form::before {
    /* La ligne au dessus de champ de recherche */
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 680px;
    width: 100%;
    height: 5px;
    box-shadow: 0px 10px 5px -10px #9d9d9d inset;
  }
}
@media all and (min-width: 681px) {
  .description .recherche-form {
    width: 300px;
    border: 1px solid #9d9d9d;
    position: absolute;
    top: 138px;
    right: 54%;
  }
}
@media all and (min-width: 992px) {
  .description .recherche-form {
    top: 57px;
    right: 10%;
  }
  .description .recherche-form:hover {
    /* Mixin customisable puor appliquer differentes fonctions de couleur selon besoin */
    box-shadow: 2px 4px 10px #777777;
  }
}
.description__textes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media all and (min-width: 992px) {
  .description__textes {
    align-items: flex-start;
    text-align: left;
    margin-top: 14px;
  }
}
.description__textes h2 {
  font-size: 1.5rem;
  /* Utilisation de map définie dans les variables */
  font-weight: 900;
  margin: 36px 0 0 0;
  width: 77%;
}
.description__textes p {
  margin: 12px 0 28px 0;
  font-size: 1.1rem;
}
.description .bouton-rose {
  margin-bottom: 57px;
  /* Les propriétés principales de bouton sont définies dans les mixins */
}
@media all and (min-width: 681px) {
  .description .bouton-rose {
    position: absolute;
    top: 138px;
    left: 54%;
  }
}
@media all and (min-width: 992px) {
  .description .bouton-rose {
    top: 134px;
    left: unset;
    right: 10%;
  }
}

.fonctionnement-ensamble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 19px;
}
@media all and (max-width: 680px) {
  .fonctionnement-ensamble {
    justify-content: space-between;
  }
}
.fonctionnement-ensamble h2 {
  margin: 25px 50px 0 0;
}
@media all and (max-width: 680px) {
  .fonctionnement-ensamble h2 {
    margin: 47px 0 10px 2px;
  }
}
.fonctionnement-ensamble .fonctionnement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-right: 20px;
}
@media all and (max-width: 680px) {
  .fonctionnement-ensamble .fonctionnement {
    display: flex;
    flex-direction: column;
    margin-bottom: 49px;
  }
}
.fonctionnement-ensamble .fonctionnement__etapes {
  display: flex;
  align-items: center;
  max-width: 250px;
  width: 100%;
  height: 60px;
  background-color: #f6f6f6;
  border-radius: 25px 25px 25px 25px;
  margin: 0 20px 20px 0;
  /* Mixin customisable puor appliquer differentes fonctions de couleur selon besoin */
  box-shadow: 2px 4px 10px #dddddd;
}
@media all and (max-width: 680px) {
  .fonctionnement-ensamble .fonctionnement__etapes {
    max-width: 300px;
    width: 100%;
    height: 75px;
    margin: 0 0 20px 0;
  }
}
.fonctionnement-ensamble .fonctionnement__etapes--active {
  /* Sélécteur BEM utilisé */
  background-color: #f5edff;
}
@media all and (min-width: 992px) {
  .fonctionnement-ensamble .fonctionnement__etapes {
    margin-right: 7%;
  }
}
.fonctionnement-ensamble .fonctionnement__etapes i {
  font-size: 1rem;
  color: #7c7c7c;
  margin: 0 15px 0 14px;
}
@media all and (max-width: 680px) {
  .fonctionnement-ensamble .fonctionnement__etapes i {
    margin: 0 23px 0 22px;
    font-size: 1.15rem;
  }
}
.fonctionnement-ensamble .fonctionnement__etapes .fa-mobile-alt {
  font-size: 1.15rem;
  margin-right: 20px;
}
@media all and (max-width: 680px) {
  .fonctionnement-ensamble .fonctionnement__etapes .fa-mobile-alt {
    margin-right: 28px;
    font-size: 1.3rem;
  }
}
.fonctionnement-ensamble .fonctionnement__etapes .fa-store {
  color: #9356dc;
  margin-right: 11px;
}
@media all and (max-width: 680px) {
  .fonctionnement-ensamble .fonctionnement__etapes .fa-store {
    margin-right: 19px;
  }
}
.fonctionnement-ensamble .fonctionnement__numeros {
  background-color: #9356dc;
  border-radius: 100%;
  /* Création de cercle autour de l'icone */
  width: 23px;
  height: 23px;
  margin-left: -11px;
}
.fonctionnement-ensamble .fonctionnement__numeros p {
  font-size: 0.9rem;
  color: #ffffff;
  margin: 0;
  padding: 3px 0 0 8px;
}
.fonctionnement-ensamble .fonctionnement__texte {
  font-size: 0.9rem;
  font-weight: 600;
}
@media all and (max-width: 680px) {
  .fonctionnement-ensamble .fonctionnement__texte {
    font-size: 1.02rem;
  }
}

#restaurants {
  background-color: #f6f6f6;
  height: auto;
  width: 100%;
  padding-top: 33px;
}
#restaurants h2 {
  margin-bottom: 7px;
  padding-left: 19px;
}
#restaurants .cartes-restaurants {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 49px;
}
@media all and (max-width: 680px) {
  #restaurants .cartes-restaurants {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }
}
#restaurants .cartes-restaurants figure {
  /* Les propriétés de l'apparence des cartes cliquables dans toutes les pages */
  display: flex;
  max-width: 434px;
  width: 47%;
  background-color: #ffffff;
  /* Mixin customisable puor appliquer differentes fonctions de couleur selon besoin */
  box-shadow: 2px 4px 10px #e4e4e4;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  border-radius: 22px;
  width: 90%;
  min-width: 250px;
  margin: 10px;
}
@media all and (max-width: 680px) {
  #restaurants .cartes-restaurants figure {
    height: 90%;
  }
}
@media all and (min-width: 992px) {
  #restaurants .cartes-restaurants figure {
    margin: 15px;
  }
}
@media all and (max-width: 680px) {
  #restaurants .cartes-restaurants figure {
    max-height: 350px;
  }
}
#restaurants .cartes-restaurants figure .img_restaurant {
  border-radius: 17px 17px 0px 0px;
  /* Les bordures arrondies en haut des photos */
  width: 100%;
}
#restaurants .cartes-restaurants figure .nouveau {
  position: absolute;
  top: 14px;
  right: 12px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #99e2d0;
  color: #278870;
  text-align: center;
  padding: 5px 12px 5px 12px;
  border-radius: 2px 2px 2px 2px;
}
#restaurants .cartes-restaurants figure figcaption {
  display: flex;
  justify-content: space-between;
  padding: 0 22px 0 13px;
}
#restaurants .cartes-restaurants figure figcaption a {
  color: #000000;
}
#restaurants .cartes-restaurants figure figcaption a h3 {
  font-size: 1.15rem;
  font-weight: 900;
  margin: 12px 0 0 0;
}
#restaurants .cartes-restaurants figure figcaption a p {
  font-size: 1.1rem;
  margin: 3px 0 16px 0;
}
#restaurants .cartes-restaurants figure:hover {
  /* Mixin customisable puor appliquer differentes fonctions de couleur selon besoin */
  box-shadow: 2px 4px 10px #b6b6b6;
}

/*# sourceMappingURL=style.css.map */
