.bouton-rose {
	@include btn;
}
/* Réalisation de coeur qui change l'apparence au survol */
.heart {
	margin-left: 36px;
	display: flex;
	width: 26px;
	@include wide-screen {
		margin: 0;
	}
	.fa-heart {
		path {
			/* Définition des paramètres de la bordure de coeur */
			fill: transparent;
			stroke-width: 30px;
			stroke: $colour-black;
			&:hover {
				animation: heart-fill 500ms ease-out forwards; /* L'Animation se lance au survol ou clique */
			}
		}
		linearGradient {
			.main-stop {
				stop-color: $colour-primary; /* Définition des couleurs de gradient */
			}
			.alt-stop {
				stop-color: $colour-secondary;
			}
		}
	}
}
/* Réalisation de loader spinner */
#spinner-overlay {
	position: absolute; /* Positionné par rapport de body */
	width: 100%; /* Couvre toute la page */
	height: auto;
	margin: 0;
	max-width: $max-width-1440;
	max-height: 2600px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(246, 246, 246, 0.9);
	/* Couleur rgba utilisé pour définir opacité, pour ne pas définir opacité apart qui affecte l'opacité des éléments de loader */
	z-index: 4; /* Place le loader par dessus de l'autre contenu */
	animation: play-loader 2500ms forwards;
	/* L'apparition et disparition de loader entier avec 'animation-duration' de 2.5 secondes */
	.spinner-block {
		display: flex; /* La position des images de loader sur la page */
		justify-content: center;
		padding-top: 20%;
		.anim-container {
			position: relative;
			top: 0px;
			left: 0px;
			width: 265px;
			height: 265px;
			border-radius: 100%;
			overflow: hidden; /* Les éléments de l'animation qui dépassent les bordures de ce block pendant l'animation ne sont pas visibles */
			.cercle--contour {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 265px;
				height: 265px;
				border-radius: 100%;
				animation: circle-turn 1500ms linear 2; /* Les animations de chaque élément se passent que pendant le temps de l'animation de loader entier */
				@include gradient-gris;
			}
			.cercle--grand {
				position: absolute;
				top: 12px;
				left: 12px;
				width: 240px;
				height: 240px;
				border-radius: 100%;
				@include gradient-primary($direction: to right top);
			}
			.cercle--fin {
				position: absolute;
				top: 48px;
				left: 48px;
				width: 165px;
				height: 165px;
				border-radius: 100%;
				animation: circle-turn 1500ms linear 2; /* 'animation-iteration-count' - le nombre de répétitions est 2 */
				@include gradient-gris;
			}
			.cercle--petit {
				position: relative;
				top: 53px;
				left: 53px;
				width: 155px;
				height: 155px;
				border-radius: 100%;
				@include gradient-primary($direction: to left bottom);
				&::before {
					content: "";
					position: absolute;
					top: 109%;
					right: 20%;
					width: 300px;
					height: 15px;
					background-color: $colour-white;
					opacity: 0.2;
					transform: rotate(45deg);
					animation: spinner-shine-before 1500ms ease-in-out 500ms 1;
					z-index: 1; /* Les éléments sont placés par dessus de l'icone des ustensiles */
				}
				&::after {
					content: "";
					position: absolute;
					top: 121%;
					right: 38%;
					width: 300px;
					height: 30px;
					background-color: $colour-white;
					opacity: 0.2;
					transform: rotate(45deg);
					animation: spinner-shine-after 1500ms ease-in-out 500ms 1;
					z-index: 1;
				}
			}
			.fa-utensils {
				font-size: 4rem;
				position: absolute;
				top: 98px;
				left: 104px;
				color: darken($colour-background, 60%);
				animation: fork-shake 200ms ease-in-out 1150ms 3; /* Les durées de toutes les animations n'excède pas la durée totale de loader spinner */
			}
		}
	}
}
