body {
	font-family: $font-Roboto, $font-Sans-s; /* Les variables de polices utilisés */
	color: $colour-black; /* Les variables de couleurs principales utilisés */
	a {
		text-decoration: none; /* Nesting utilisé */
		color: $colour-black;
	}
	ul {
		list-style-type: none;
	}
}
h1 {
	/* Maps utilisés pour les polices de headings */
	font-family: $font-Shrikhand, $font-Sans-s;
	font-size: map-get($font-size-heading, h1);
	font-weight: normal;
}
.fa-heart {
	font-size: 1.4rem;
}
