#ligne-header i {
	display: none;
}
h1 {
	/* Maps utilisés pour les polices de headings */
	font-family: $font-Shrikhand, $font-Sans-s;
	font-size: map-get($font-size-heading, h1);
	font-weight: normal;
}
h2 {
	font-size: map-get($font-size-heading, h2);
	font-weight: $font-weight900;
	letter-spacing: $letter-spacing;
}
.sous-image__texte {
	h3 {
		font-size: map-get($font-size-heading, h3);
		font-weight: $font-weight900;
	}
	p,
	.fa-map-marker-alt {
		font-size: 1.1rem;
	}
}
.champ_recherche {
	font-family: $font-Roboto, $font-Sans-s;
	font-size: 1.03rem;
	font-weight: $font-weight500;
}
.fonctionnement__texte,
.nouveau {
	font-size: 1.02rem;
	font-weight: $font-weight600;
}
.fonctionnement__etapes i {
	height: 1rem;
	width: 2rem;
	font-size: 1.2rem;
	color: #7e7e7e;
}
.nouveau {
	color: #008766;
}
