.accueil {
	text-align: center;
}
.description {
	@include flex-column;
	justify-content: space-between;
	background-color: $colour-background;
	.recherche-form {
		display: flex; /* Pour ranger les éléments dans une ligne */
		justify-content: center;
		max-width: 680px; /* Définition de taille maximale */
		width: 100%;
		max-height: 50px;
		height: 100%;
		background-color: darken($colour-background, 4.7%);
		i {
			padding: 17px 15px 0px 48px; /* Le positionnement de l'icone dans sa <div> */
		}
		&__champ {
			font-family: $font-Roboto, $font-Sans-s;
			font-size: 1.03rem;
			font-weight: $font-weight500;
			border: none;
			height: 48px;
			background-color: darken($colour-background, 4.7%);
		}
		&::before {
			/* La ligne au dessus de champ de recherche */
			content: "";
			position: absolute;
			top: 57px;
			bottom: 0;
			left: 8px;
			right: 0;
			max-width: 680px;
			width: 100%;
			height: 5px;
			box-shadow: 0px 10px 5px -10px darken($colour-background, 35%) inset;
		}
	}
	&__textes {
		@include flex-column;
		align-items: center;
		text-align: center;
		h2 {
			font-size: map-get($font-size-heading, h2);
			font-weight: $font-weight900;
			margin: 36px 0 0 0;
			width: 80%;
		}
		p {
			margin: 12px 0 28px 0;
			font-size: $font-size-p;
		}
	}
}
.fonctionnement-ensamble {
	@include flex-column;
	justify-content: space-between;
	padding-left: 19px;
	h2 {
		margin: 47px 0 10px 0;
	}
	.fonctionnement {
		@include flex-column;
		align-items: center;
		padding-left: 6px;
		&__etapes {
			display: flex;
			align-items: center;
			width: 324px;
			height: 75px;
			background-color: $colour-background;
			border-radius: 25px 25px 25px 25px;
			@include external-shadow;
			margin: 0 0 20px 0;
			&--active {
				background-color: #f5edff;
			}
			i {
				font-size: 1.15rem;
				color: darken($colour-background, 48%);
				margin: 0 23px 0 22px;
			}
			.fa-mobile-alt {
				font-size: 1.3rem;
				margin-right: 28px;
			}
			.fa-store {
				color: $colour-primary;
				margin-right: 19px;
			}
		}
		&__numeros {
			background-color: $colour-primary;
			border-radius: 100%; /* Création de cercle autour de l'icone */
			width: 23px;
			height: 23px;
			margin-left: -11px;
			p {
				font-size: 0.9rem;
				color: $colour-white;
				margin: 0;
				padding: 3px 0 0 8px;
			}
		}
		&__texte {
			font-size: 1.02rem;
			font-weight: $font-weight600;
		}
	}
}
.nouveau {
	font-size: 1.02rem;
	font-weight: $font-weight600;
}
.nouveau {
	color: #008766;
}
.legende-restaurant__txt {
	h3 {
		font-size: map-get($font-size-heading, h3);
		font-weight: $font-weight900;
	}
	p {
		font-size: $font-size-p;
	}
}
