#entrees {
	@include anime-menu-block($length: 700ms, $time: 200ms);
	.carte-choix--1 {
		animation: fade-in 250ms ease-out 450ms backwards;
	}
	.carte-choix--2 {
		animation: fade-in 250ms ease-out 650ms backwards;
	}
	.carte-choix--3 {
		animation: fade-in 200ms ease-out 850ms backwards;
	}
}
#plats {
	@include anime-menu-block($length: 700ms, $time: 1250ms);
	.carte-choix--1 {
		animation: fade-in 250ms ease-out 1500ms backwards;
	}
	.carte-choix--2 {
		animation: fade-in 250ms ease-out 1700ms backwards;
	}
	.carte-choix--3 {
		animation: fade-in 200ms ease-out 1900ms backwards;
	}
}
#desserts {
	@include anime-menu-block($length: 700ms, $time: 2300ms);
	.carte-choix--1 {
		animation: fade-in 250ms ease-out 2550ms backwards;
	}
	.carte-choix--2 {
		animation: fade-in 250ms ease-out 2750ms backwards;
	}
	.carte-choix--3 {
		animation: fade-in 200ms ease-out 2950ms backwards;
	}
}
@keyframes menu-block {
	0% {
		opacity: 0; /* N'est pas visible au début et visible au 100% */
		transform: translateY(10px); /* Position et axe de début d'animation */
	}
	100% {
		opacity: 1;
		transform: translateY(0); /* Position et axe de la fin d'animation */
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(10px);
		box-shadow: none;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
