$font-Roboto: "Roboto"; /* Polices utilisés */
$font-Shrikhand: "Shrikhand";
$font-Sans-s: sans-serif;

$colour-primary: #9356dc; /* Couleurs principales */
$colour-secondary: #ff79da;
$colour-accent: #99e2d0;
$colour-background: #f6f6f6;
$colour-black: #000000;
$colour-white: #ffffff;

$letter-spacing: 0.02rem; /* Paramètres de la police */
$font-weight900: 900;
$font-weight600: 600;
$font-weight500: 500;

$font-size-heading: (
	h1: 1.9rem,
	h2: 1.5rem,
	h3: 1.15rem,
	h4: 1.12rem,
);
$font-size-p: 1.1rem;
