.menus {
	&__image {
		width: 100%;
		margin: auto;
	}
	.ensamble-menu {
		position: relative;
		width: 100%;
	}
	.ensamble-menu__titre {
		display: flex;
		align-items: center;
		background-color: $colour-background;
		border-radius: 35px 35px 0 0;
		padding-top: 7px;
		width: 100%;
		position: absolute;
		top: -34px;
		h2 {
			font-family: $font-Shrikhand, $font-Sans-s;
			font-size: 1.75rem;
			font-weight: normal;
			margin-left: $space-page-19;
		}
		i {
			margin-left: 35px;
		}
	}
	.ensamble-articles {
		@include flex-column;
		justify-content: space-around;
		align-items: center;
		background-color: $colour-background;
		padding-top: 50px;
		.article-menu {
			width: 100%;
			&__cartes {
				max-width: 434px;
				margin: 10px;
				@include mobile-only {
					width: 90%;
				}
			}
			> h3 {
				/* Combinateur parent > enfant utilisé */
				font-size: 1.05rem;
				text-transform: uppercase;
				font-weight: normal;
				position: relative; /* Pour placer la ligne en bas */
				padding: 0 0 8px $space-page-19;
			}
			> h3::after {
				/* La ligne sous le <h3> */
				content: "";
				position: absolute;
				width: 40px;
				height: 3px;
				background-color: $colour-accent;
				bottom: 0;
				left: 0;
				right: 0;
				margin-left: $space-page-19;
			}
			a {
				@include content-cards;
				justify-content: space-between;
				color: $colour-black;
				width: 100%;
				.menu-texte {
					padding-left: 22px;
					h3 {
						font-size: $font-size-p;
						font-weight: $font-weight600;
						letter-spacing: $letter-spacing;
						margin: 14px 0 0 0;
					}
					p {
						font-size: 0.93rem;
						margin: 5px 0 12px 0;
					}
				}
				.prix-check {
					.prix p {
						font-weight: $font-weight900;
						margin: 0;
						padding: 43px 13px 0 0;
					}
					.fa-check-circle {
						display: none;
						font-size: 1.3rem;
						color: $colour-white;
						background-color: $colour-accent;
					}
				}
			}
		}
	}
}

#bouton-commander {
	width: 185px; /* Définition de la taille de bouton mixin */
}
