header {
	.ligne-header {
		display: flex;
		align-items: center;
		height: 63px;
		i {
			padding-left: 4%; /* Espace définie en % pour meilleur raport agrandissant écran */
			font-size: 1.2rem;
			color: $colour-black;
		}
		h2 {
			@include logo;
		}
		h1 {
			margin: auto;
		}
		a:active {
			color: $colour-secondary;
		}
	}
}
