header {
	.ligne-header i {
		padding-left: 4%; /* Espace définie en % pour meilleur raport agrandissant écran */
		font-size: 1.2rem;
		color: $colour-black;
	}
	h2 {
		@include logo;
	}
	.ligne-header {
		display: flex;
		align-items: center;
	}
	.ligne-header h1 {
		padding-left: 73px;
	}
	a:active {
		color: $colour-secondary;
	}
}
